
.heading-college{

    color: #df2845;
    font-family: "source serif pro", serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;

}


.slider-content h1 {
    font-size: 65px;
    color: #fff0;
    margin-bottom: 20px;
}


.section-title {
    max-width: 1050px;
    text-align: center;
    margin: -10px auto 40px;
    position: relative;
}

.serch-content {
    padding: 30px;
    background-color: #f4f6f9;
    margin-bottom: 3px;
}


@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: grid;
    flex-basis: auto;
}
}


.team-info{



    padding-top: 10px;
    padding-bottom: 10px;
}



.brd{
    padding-top: 20px;
    padding-bottom: 20px;
}


.team-info {
    padding: 30px 0px 0;
    transition: .3s;
    position: relative;
    text-align: center;
}

.team-area2 .team-info {
    padding-bottom: 30px;
}
.team-info h4 {
    font-size: 24px;
    margin-bottom: 5px;
    transition: .3s;
}